case-study-7-ADF/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "case-study-7-ADF"
		},
		"AzureBlobStorage1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStorage1'"
		},
		"AzureBlobStoragesource_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AzureBlobStoragesource'"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDatabricks1_accessToken": {
			"type": "secureString",
			"metadata": "Secure string for 'accessToken' of 'AzureDatabricks1'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://casestudy7accfinal.dfs.core.windows.net/"
		},
		"AzureDatabricks1_properties_typeProperties_existingClusterId": {
			"type": "string",
			"defaultValue": "1005-060552-d0q8a48f"
		},
		"HttpServer1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://raw.githubusercontent.com"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStorage1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureBlobStoragesource')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('AzureBlobStoragesource_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDatabricks1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureDatabricks",
				"typeProperties": {
					"domain": "https://adb-3857186501191701.1.azuredatabricks.net",
					"accessToken": {
						"type": "SecureString",
						"value": "[parameters('AzureDatabricks1_accessToken')]"
					},
					"existingClusterId": "[parameters('AzureDatabricks1_properties_typeProperties_existingClusterId')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sink_Datalake_gen2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "parent/raw",
						"fileSystem": "sink"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Source_github_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": "sharad1210/Shell-IDA-case-study-23/main/bank-additional-full.csv"
					},
					"columnDelimiter": ";",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "age",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "age",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "job",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "job",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "marital",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "marital",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "education",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "education",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "default",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "default",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "housing",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "housing",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "loan",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "loan",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "contact",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "contact",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "month",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "day_of_week",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "day_of_week",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "duration",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "duration",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "campaign",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "campaign",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "pdays",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "pdays",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "previous",
											"type": "Int32",
											"physicalType": "String"
										},
										"sink": {
											"name": "previous",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "poutcome",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "poutcome",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "emp.var.rate",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "emp.var.rate",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cons.price.idx",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "cons.price.idx",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "cons.conf.idx",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "cons.conf.idx",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "euribor3m",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "euribor3m",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "nr.employed",
											"type": "Decimal",
											"physicalType": "String"
										},
										"sink": {
											"name": "nr.employed",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "y",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "y",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "Source_github_csv",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_Datalake_gen2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Notebook1",
						"type": "DatabricksNotebook",
						"dependsOn": [
							{
								"activity": "Copy data1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"notebookPath": "/Users/shellunext_1693422079075@npunext.onmicrosoft.com/Case Study 7 Databricks Notebook"
						},
						"linkedServiceName": {
							"referenceName": "AzureDatabricks1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-10-05T10:14:58Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/Source_github_csv')]",
				"[concat(variables('factoryId'), '/datasets/Sink_Datalake_gen2')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureDatabricks1')]"
			]
		}
	]
}